# Dependencies
node_modules/
.pnp
.pnp.js

# Production build output
dist/
build/

# Environment & Cache
.env
.env.local
.env.development.local
.env.production.local
.vite/
*.log

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
